<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="page" type="Reusables.Configuration.GenericConfigurationSectionHandler`1[[ConfigurationSectionHandlerDemo.SinglePage, ConfigurationSectionHandlerDemo]], Reusables.Configuration" />
    <section name="site" type="Reusables.Configuration.GenericCollectionConfigurationSectionHandler`1[[ConfigurationSectionHandlerDemo.Page, ConfigurationSectionHandlerDemo]], Reusables.Configuration"/>
  </configSections>

  <page>
    <name>demo page</name>
    <body>some content of the single page</body>
    <properties>
      <property name="Size" searchable="false"/>
      <property name="Visible in edit mode" searchable="false"/>
    </properties>
  </page>
  
  <site>
    <pages>
      <page name="FrontPage">
        <property name="Title" searchable="true"/>
      </page>
      <page name="DetailsPage">
        <property name="Title" searchable="false"/>
      </page>
    </pages>
  </site>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>