@model CqrsEventSourcingDemo.Web.Models.CloseModel

@{
    ViewBag.Title = "Close Tab";
}

<h2>Close Tab</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.TableNumber)
    <fieldset>
        <label>Amount Paid</label>
        @Html.TextBoxFor(m => m.AmountPaid, new { @class = "form-control" })

        <br>
        <button type="submit" class="btn btn-primary">Close Tab</button>
    </fieldset>
}