@model CqrsEventSourcingDemo.Web.Scenarios.Class.ClassView

@{
    ViewBag.Title = "Remove Class";
}

<h2>Remove Class: @Model.Name</h2>

@using (Html.BeginForm("RemoveImpl", "Class"))
{
    <div>
        Are you sure to remove this class <i>@Model.Name</i>?
    </div>

    <input type="hidden" name="id" value="@Model.Id" />
    <input type="submit" value="Remove" class="btn btn-danger"/>
    <a href="@Url.Action("Index")" class="btn btn-default">Cancel</a>
}